:root {
    --onyx: #393e41ff;
    --timberwolf: #d3d0cbff;
    --platinum: #e7e5dfff;
    --maximum-blue-green: #43b8baff;
    --saffron: #e6b93cff;
}

.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid var(--maximum-blue-green);
}

a {
    text-decoration: none !important;
    color: black;
}

.sidebarChat > .MuiAvatar-root {
    background-color: var(--platinum);
}

.sidebarChat:hover {
    background-color: var(--saffron);
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

